# WEB SCRAPING ASSIGNMENT 3

# Instructions:
    • All questions are compulsory.
    • In each of the questions you have to automate the process. You do not have to click on any 
    button, click any clickable element, enter keywords in search boxes manually. Each process 
    has to be performed via coding.
    • Q1 and Q2 are connected questions i.e. after attempting Q1 proceed to Q2. Do not write 
    whole code from beginning for Q2.
    • You may use any web scraping library and tools.
    • The question can be attempted in various ways; the correctness of question depends on the 
    output.
    • If you encounter any Null values during scraping, you may replace it by hyphen.

    1. Write a python program which searches all the product under a particular product vertical
    from www.amazon.in. The product verticals to be searched will be taken as input from user.
    For e.g. If user input is ‘guitar’. Then search for guitars.

    2. In the above question, now scrape the following details of each product listed in first 3 pages 
    of your search results and save it in a data frame and csv. In case if any product vertical has 
    less than 3 pages in search results then scrape all the products available under that product 
    vertical. Details to be scraped are: "Brand Name", "Name of the Product", "Rating", "No. of 
    Ratings", "Price", "Return/Exchange", "Expected Delivery", "Availability", "Other Details" 
    and “Product URL”. In case, if any of the details are missing for any of the product then 
    replace it by “-“.

In [1]:
#lets now import all required libraries
import selenium
import pandas as pd
import time
from selenium import webdriver

In [3]:
#lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [4]:
url="https://www.amazon.in/"
driver.get(url)

In [5]:
#find the serch bar elements by id
search_bar = driver.find_element_by_id("twotabsearchtextbox")

In [6]:
search_bar.clear()

In [7]:
#write on search bar
search_bar.send_keys("Guitar")

In [8]:
search_btn=driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]')
search_btn.click()

In [159]:
# scrape all product urls
product_urls = []
start=0
end=3
for page in range(start,end):#for loop for scrapping 3 page
    url=driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]') #scraping urls
    for i in url:
        product_urls.append(i.get_attribute("href")) 
#appending the urls in product_urls list
 
nxt_button=driver.find_element_by_xpath("//li[@class='a-last']//a") 
#scraping the list of buttons from the page
nxt_button.click()
time.sleep(2)

In [3]:
#Make empty lists
Brand = [] 
Name = []
Rating = []
no_of_ratings = []
Price = []
Return = []
expected_delivery = []
Availability = [] 
Other_Details = []

In [2]:
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
#Importing requests
import requests
# importing regex
import re
import csv

In [163]:
for url in product_urls:
    driver.get(url)
    time.sleep(2)

# Extracting Brand from xpath
    try:
        brand = driver.find_element_by_xpath('//a[@id="bylineInfo"]') 
        Brand.append(brand.text)
    except NoSuchElementException:
        Brand.append('-')
    time.sleep(1)

# Extracting name from id
    try:
        name = driver.find_element_by_id('productTitle') 
        Name.append(name.text)
    except NoSuchElementException:
        Name.append('-')
    time.sleep(1)

# Extracting Ratings from xpat
    try:
        rating = driver.find_element_by_xpath('//span[@class="a-size-base a-nowrap"]//span') 
        Rating.append(rating.text)
    except NoSuchElementException:
        Rating.append('-')
    time.sleep(1)

# Extracting No of Ratings from xpath
    try:
        no_rating = driver.find_element_by_xpath('//span[@class="a-size-base a-color-secondary"]') 
        no_of_ratings.append(no_rating.text)
    except NoSuchElementException:
        no_of_ratings.append('-')
        time.sleep(1)

# Extracting price from xpath 
    try:
        price = driver.find_element_by_xpath('//td[@class="a-span12"]') 
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('-')
    time.sleep(1)

# Extracting Return from xpath
    try:
        return_ = driver.find_element_by_xpath('//a[@class="a-size-small a-link-normal a-text-normal"]') 
        Return.append(return_.text)
    except NoSuchElementException:
        Return.append('-')
    time.sleep(1)

 # Extracting expected_delivery from xpath
    try:
        exptd_dlvry= driver.find_element_by_xpath('//span[@class="a-color-error"]') 
        expected_delivery.append(exptd_dlvry.text)
    except NoSuchElementException:
        expected_delivery.append('-')
    time.sleep(1)

 # Extracting Availability from xpath 
    try:
        avl= driver.find_element_by_xpath('//span[@class="a-size-medium a-color-success"]') 
        Availability.append(avl.text)
    except NoSuchElementException:
        Availability.append('-')
        time.sleep(1)

 # Extracting Other Details from xpath 
    try:
        othr_dtls= driver.find_element_by_xpath('//ul[@class="a-unordered-list a-vertical a-spacing-mini"]') 
        Other_Details.append(othr_dtls.text)
    except NoSuchElementException:
        Other_Details.append('-')
    time.sleep(2)

In [ ]:
expected_delivery_tags=driver.find_elements_by_xpath('//span[@class="a-text-bold"]')

In [178]:
Expected_delivery=[]
for i in expected_delivery_tags:
    Expected_delivery.append(i.text.replace("\n",""))
Expected_delivery

['Tomorrow, October 14',
 'Sunday, October 17',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Sunday, October 17',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Monday, October 18',
 'Sunday, October 17',
 'Sunday, October 17',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Friday, October 15',
 'Tomorrow, October 14',
 'Wednesday, October 20',
 'Tomorrow, October 14',
 'Friday, October 15',
 'Friday, October 15',
 'Friday, October 15',
 'Friday, October 15',
 'Saturday, October 16',
 'Saturday, October 16',
 'Monday, October 18',
 'Friday, October 15',
 'Friday, October 15',
 'Saturday, October 16',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Friday, October 15',
 'Tomorrow, October 14',
 'Saturday, October 16',
 'Saturday, October 16',
 'Monday, October 18',
 'Tomorrow, October 14',
 'Friday, October 15',
 'Monday, October 18',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Friday, October 15',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14',
 'Tomorrow, October 14']

In [176]:
# Make dataframe
prod_df = pd.DataFrame({'Brand':Brand,'Name':Name,'Rating':Rating,'No.of ratings':no_of_ratings,'Price':Price,'Return/Exchange':Return,'Expected Delivery':expected_delivery,'Availability':Availability,'Other Details':Other_Details,'URL':product_urls})
prod_df.head(5)

,Brand,Name,Rating,No.of ratings,Price,Return/Exchange,Expected Delivery,Availability,Other Details,URL
0,Visit the JUAREZ Store,"Juârez Acoustic Guitar, 38 Inch Cutaway, 038C ...",4 out of 5,"13,263 global ratings","₹1,999.00",Pay on Delivery,-,In stock.,"Black Glossy Finish, Number of Frets: 18, Acou...",https://www.amazon.in/gp/slredirect/picassoRed...
1,Brand: medellin,Medellin 38in Premium All Wood Acoustic Guitar...,3.9 out of 5,617 global ratings,"₹3,199.00",Pay on Delivery,-,In stock.,Perfect beginner guitar: Specially designed fo...,https://www.amazon.in/gp/slredirect/picassoRed...
2,Visit the JUAREZ Store,"Juarez Acoustic Guitar Kit, 38 Inch Cutaway, 3...",4 out of 5,"4,342 global ratings","₹1,999.00",Pay on Delivery,,In stock.,Number of Frets: 18\nAcoustic guitar with stra...,https://www.amazon.in/gp/slredirect/picassoRed...
3,Visit the JUAREZ Store,"JUAREZ 41"" Acoustic Guitar Cutaway with Dual A...",4.3 out of 5,22 global ratings,"₹3,499.00",Pay on Delivery,,In stock.,"Glossy finish, Number of frets - 21, 41 Inch A...",https://www.amazon.in/gp/slredirect/picassoRed...
4,Visit the JUAREZ Store,"Juârez Acoustic Guitar, 38 Inch Cutaway, 038C ...",4 out of 5,"13,263 global ratings","₹1,999.00",Pay on Delivery,-,In stock.,"Black Glossy Finish, Number of Frets: 18, Acou...",https://www.amazon.in/Juarez-Acoustic-Cutaway-...

3. Write a python program to access the search bar and search button on images.google.com and 
scrape 100 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’.

In [5]:
#lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [6]:
url="https://images.google.com/"
driver.get(url)

In [99]:
#find the serch bar elements by id
search_bar = driver.find_element_by_xpath('//input[@class="gLFyf gsfi"]')

In [100]:
search_bar.clear()

In [101]:
#write on search bar
search_bar.send_keys("fruits")

In [102]:
search_btn=driver.find_element_by_xpath('//button[@class="Tg7LZd"]')
search_btn.click()

In [111]:
images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

In [112]:
img_urls = []
img_data = []

In [113]:
for image in images:
    source= image.get_attribute('src')
if source is not None:
    if(source[0:4] == 'http'):
        img_urls.append(source)
 
 
for i in range(len(img_urls)):
    if i >= 100:
        break
    print("Downloading {0} of {1} images" .format(i, 100))
    response= requests.get(img_urls[i])

In [114]:
images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

for image in images:
    image.get_attribute('src')
    img_urls.append(images)
for i in range(len(img_urls)):
    if i >= 100:
        break

In [116]:
len(img_urls)

300

In [16]:
#lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [17]:
url="https://images.google.com/"
driver.get(url)

In [117]:
#find the serch bar elements by id
search_bar = driver.find_element_by_xpath('//input[@class="gLFyf gsfi"]')

In [118]:
search_bar.clear()

In [119]:
#write on search bar
search_bar.send_keys("cars")

In [120]:
search_btn=driver.find_element_by_xpath('//button[@class="Tg7LZd"]')
search_btn.click()

In [121]:
images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

In [122]:
img_urls_cars=[]

In [123]:
for image in images:
    source= image.get_attribute('src')
if source is not None:
    if(source[0:4] == 'http'):
        img_urls_cars.append(source)
 
 
for i in range(len(img_urls_cars)):
    if i >= 100:
        break
    print("Downloading {0} of {1} images" .format(i, 100))
    response= requests.get(img_urls_cars[i])

In [124]:
images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

for image in images:
    image.get_attribute('src')
    img_urls_cars.append(images)
for i in range(len(img_urls_cars)):
    if i >= 100:
        break

In [126]:
len(img_urls_cars)

300

In [40]:
#lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [41]:
url="https://images.google.com/"
driver.get(url)

In [42]:
#find the serch bar elements by xpath
search_bar = driver.find_element_by_xpath('//input[@class="gLFyf gsfi"]')

In [43]:
search_bar.clear()

In [44]:
#write on search bar
search_bar.send_keys("Machine Learning")

In [45]:
search_btn=driver.find_element_by_xpath('//button[@class="Tg7LZd"]')
search_btn.click()

In [68]:
images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

In [69]:
img_urls_machine_learning=[]

In [70]:
for image in images:
    source= image.get_attribute('src')
if source is not None:
    if(source[0:4] == 'http'):
        img_urls_machine_learning.append(source)
 
 
for i in range(len(img_urls_machine_learning)):
    if i >= 100:
        break
    print("Downloading {0} of {1} images" .format(i, 100))
    response= requests.get(img_urls_machine_learning[i])

In [75]:
print("Downloading {0} of {1} images" .format(i, 100))

Downloading 0 of 100 images

In [76]:
img_urls_machine_learning=[]

In [79]:
images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

for image in images:
    image.get_attribute('src')
    img_urls_machine_learning.append(images)
for i in range(len(img_urls_machine_learning)):
    if i >= 100:
        break

In [95]:
len(img_urls_machine_learning)

400

In [128]:
import pandas as pd
images_links=pd.DataFrame({})
images_links['img_urls_fruits']=img_urls[:100]
images_links['img_urls_cars']=img_urls_cars[0:100]
images_links['img_urls_machine_lerning']=img_urls_machine_learning[0:100]
images_links.head()

,img_urls_fruits,img_urls_cars,img_urls_machine_lerning
0,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...
1,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...
2,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...
3,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...
4,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...

4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on 
www.flipkart.com and scrape following details for all the search results displayed on 1st page. 
Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, 
“Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Display 
Resolution”, “Processor”, “Processor Cores”, “Battery Capacity”, “Price”, “Product URL”. 
Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe 
and CSV.

In [314]:
#lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [315]:
url='https://www.flipkart.com/'
driver.get(url)

In [316]:
#find the serch bar elements by xpath
search_bar = driver.find_element_by_xpath('//input[@class="_3704LK"]')

In [317]:
search_bar.clear()

In [318]:
#write on search bar
search_bar.send_keys("Oneplus Nord, pixel 4A")

In [320]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [287]:
mobile_urls = []
urls = driver.find_elements_by_xpath('//a[@class="_1fQZEK"]')
for url in urls:
    mobile_urls.append(url.get_attribute("href"))

In [289]:
len(mobile_urls)

16

In [290]:
try:
    read_more = driver.find_element_by_xpath('//button[@class="_2KpZ6l _1FH0tX"]') 
# Button for expanding the specs
    read_more.click()
except NoSuchElementException:
    print("Exception Occured. Moving to next page")

Exception Occured. Moving to next page

In [321]:
Brand_name=[]
Smartphone_name=[]
Colour=[]
RAM=[]
Storage_Rom=[]
Primary_camera=[]
Secondary_camera=[]
Display_size=[]
Dispaly_resolution=[]
Processor=[]
Processor_cores=[]
Battery_capacity=[]
Price=[]

In [333]:
for url in mobile_urls:
    driver.get(url)
    time.sleep(2)
#Extracting Brand from xpath
    try:
        brand=driver.find_element_by_xpath('//span[@class="B_NuCI"]')  
        Brand_name.append(brand.text.split()[0])
    except NoSuchElementException:
        Brand_name.append('-')
    time.sleep(1)

In [334]:
Brand_name

['ringme',
 'ringme',
 'SAMSUNG',
 'Micromax',
 'KARBONN',
 'LAVA',
 'LAVA',
 'LAVA',
 'Phicomm',
 'Smart',
 'I',
 'Smart',
 'Reach',
 'Nokia',
 'Micromax',
 'Zopo']

In [335]:
len(Brand_name)

16

In [336]:
for url in mobile_urls:
    driver.get(url)
    time.sleep(2)
# Extracting name from xpath
    try:
        name = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][1]/table/tbody/tr[3]/td[2]/ul/li')
        Smartphone_name.append(name.text)
    except NoSuchElementException:
        Smartphone_name.append('-')
    time.sleep(1)

In [337]:
Smartphone_name

['Reno Plus',
 'Reno Plus',
 'Galaxy S10 Plus',
 '-',
 'Titanium S9 plus',
 'Pixel V2 Plus',
 'Pixel V2 Plus',
 'Pixel V2 Plus',
 'Clue 3 Plus VoLTE',
 'L4 POWER Combo of 2',
 'K 8 NEw / K-8Plus',
 'L4 FIRE',
 'Cogent+',
 '5.1 Plus',
 'CANVAS 2 PLUS',
 'Flash X Plus']

In [338]:
len(Smartphone_name)

16

In [339]:
for url in mobile_urls:
    driver.get(url)
    time.sleep(2)
# Extracting price from xpath
    try:
        price = driver.find_element_by_xpath('//div[@class="_30jeq3 _16Jk6d"]') 
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('-')
    time.sleep(1)

In [340]:
Price

['₹4,799',
 '₹5,469',
 '₹1,17,990',
 '₹5,500',
 '₹6,149',
 '₹8,999',
 '₹7,290',
 '₹6,199',
 '₹5,509',
 '₹1,375',
 '₹4,429',
 '₹748',
 '₹2,750',
 '₹9,900',
 '₹7,409',
 '₹4,949']

In [341]:
len(Price)

16

In [342]:
for url in mobile_urls:
    driver.get(url)
    time.sleep(2)
    
# Extracting color from xpath
    try:
        color = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][1]/table/tbody/tr[4]/td[2]/ul/li') 
        Colour.append(color.text)
    except NoSuchElementException:
        Colour.append('-')
    time.sleep(1)

In [343]:
Colour

['Red',
 'Blue',
 'Ceramic White',
 '-',
 'Blue',
 'White',
 'Black',
 'Black',
 'Gold',
 'Black',
 'Red',
 'Black',
 'Orange',
 'Blue',
 'jet black',
 'Rose Gold']

In [344]:
len(Colour)

16

In [328]:
for url in mobile_urls:
    driver.get(url)
    time.sleep(2)
try:
    disp_size = driver.find_element_by_xpath('//div[@class="_3k-BhJ"][2]/div[1]/table[1]/tbody/tr[1]/td[2]/ul/li')
    Display_size.append(disp_size.text)
except NoSuchElementException:
    Display_size.append('-')

In [330]:
Display_size

['', '', '-', '-']

In [345]:
import pandas as pd
mobile_details=pd.DataFrame({})
mobile_details['Brand_name']=Brand_name
mobile_details['Smartphone_name']=Smartphone_name
mobile_details['Price']=Price
mobile_details["Colour"]=Colour
mobile_details

   Brand_name      Smartphone_name      Price         Colour
0      ringme            Reno Plus     ₹4,799            Red
1      ringme            Reno Plus     ₹5,469           Blue
2     SAMSUNG      Galaxy S10 Plus  ₹1,17,990  Ceramic White
3    Micromax                    -     ₹5,500              -
4     KARBONN     Titanium S9 plus     ₹6,149           Blue
5        LAVA        Pixel V2 Plus     ₹8,999          White
6        LAVA        Pixel V2 Plus     ₹7,290          Black
7        LAVA        Pixel V2 Plus     ₹6,199          Black
8     Phicomm    Clue 3 Plus VoLTE     ₹5,509           Gold
9       Smart  L4 POWER Combo of 2     ₹1,375          Black
10          I    K 8 NEw / K-8Plus     ₹4,429            Red
11      Smart              L4 FIRE       ₹748          Black
12      Reach              Cogent+     ₹2,750         Orange
13      Nokia             5.1 Plus     ₹9,900           Blue
14   Micromax        CANVAS 2 PLUS     ₹7,409      jet black
15       Zopo         Flash X Plus     ₹4,949      Rose Gold

5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on 
google maps.

In [176]:
#lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [177]:
url="https://www.google.co.in/maps"
driver.get(url)

In [178]:
#find the serch bar elements by id
search_bar = driver.find_element_by_id("searchboxinput")

In [179]:
search_bar.clear()

In [180]:
#write on search bar
search_bar.send_keys("Pune")

In [181]:
search_btn=driver.find_element_by_id("searchbox-searchbutton")
search_btn.click()

In [184]:
try:
    url_string = driver.current_url
    print("URL Scraped : ", url_string)
    lat_lng = re.findall(r'@(.*)data',url_string)
    if len(lat_lng):
        lat_lng_list = lat_lng[0].split(",")
        if len(lat_lng_list)>=2:
            lat = lat_lng_list[0]
            lng = lat_lng_list[1]
            print("Latitude = {}, Longitude = {}".format(lat, lng))
except Exception as e:
           print("Error: ", str(e))

URL Scraped :  https://www.google.co.in/maps/place/Pune,+Maharashtra/@18.5245649,73.7228803,11z/data=!3m1!4b1!4m5!3m4!1s0x3bc2bf2e67461101:0x828d43bf9d9ee343!8m2!3d18.5204303!4d73.8567437
Latitude = 18.5245649, Longitude = 73.7228803

6. Write a program to scrap details of all the funding deals for second quarter (i.e. July 20 –
September 20) from trak.in

In [185]:
#lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [186]:
url="https://trak.in/"
driver.get(url)

In [188]:
#find the serch bar elements by xpath
button = driver.find_element_by_xpath('//li[@id="menu-item-51510"]/a').get_attribute('href')
driver.get(button)

In [190]:
# Empty lists
fund_dict = {}
fund_dict['Date'] = []
fund_dict['Startup Name'] = []
fund_dict['Industry/Vertical'] = []
fund_dict['Sub-Vertical'] = []
fund_dict['Location'] = []
fund_dict['Investor'] = []
fund_dict['Investment Type'] = []
fund_dict['Amount(in USD)'] = []

In [192]:
for i in range(48,51):
    #Date
    dt = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[2]'.format(i)) 
    for d in dt:
        fund_dict['Date'].append(d.text)
                                    
    #Startup Name
    sn = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[3]'.format(i))
    for n in sn:
        fund_dict['Startup Name'].append(n.text)
 
    #Industry/Vertical
    ind = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[4]'.format(i))
    for n in ind:
        fund_dict['Industry/Vertical'].append(n.text)
 
    #Sub-Vertical
    sv = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[5]'.format(i))
    for s in sv:
        fund_dict['Sub-Vertical'].append(s.text)
    
    #Location
    loc = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[6]'.format(i))
    for l in loc:
        fund_dict['Location'].append(l.text)
 
    #Investor
    inv = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[7]'.format(i))
    for n in inv:
        fund_dict['Investor'].append(n.text)
 
    #Investment Type
    invt = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[8]'.format(i))
    for n in invt:
        fund_dict['Investment Type'].append(n.text)
 
    #Amount(in USD) 
    amt = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[9]'.format(i))
    for a in amt:
        fund_dict['Amount(in USD)'].append(a.text)

In [193]:
fund_df = pd.DataFrame(fund_dict)
fund_df

,Date,Startup Name,Industry/Vertical,Sub-Vertical,Location,Investor,Investment Type,Amount(in USD)
0,15/07/2020,Flipkart,E-commerce,E-commerce,Bangalore,Walmart Inc,M&A,"1,200,000,000"
1,16/07/2020,Vedantu,EduTech,Online Tutoring,Bangalore,Coatue Management,Series D,"100,000,000"
2,16/07/2020,Crio,EduTech,Learning Platform for Developers,Bangalore,021 Capital,pre-Series A,"934,160"
3,14/07/2020,goDutch,FinTech,Group Payments,Mumbai,"Matrix India,Y Combinator, Global Founders Cap...",Seed,"1,700,000"
4,13/07/2020,Mystifly,Airfare Marketplace,"Ticketing, Airline Retailing, and Post-Ticketi...",Singapore and Bangalore,Recruit Co. Ltd.,pre-Series B,"3,300,000"
5,09/07/2020,JetSynthesys,Gaming and Entertainment,Gaming and Entertainment,Pune,Adar Poonawalla and Kris Gopalakrishnan.,Venture-Series Unknown,"400,000"
6,10/07/2020,gigIndia,Marketplace,"Crowd Sourcing, Freelance",Pune,Incubate Fund India and Beyond Next Ventures,pre-Series A,"974,200"
7,15/07/2020,PumPumPum,Automotive Rental,Used Car-leasing platform,Gurgaon,Early Adapters Syndicate,Seed,"292,800"
8,14/07/2020,FLYX,OTT Player,Streaming Social Network,New York and Delhi,"Raj Mishra, founder of AIT Global Inc",pre-Seed,"200,000"
9,13/07/2020,Open Appliances Pvt. Ltd.,Information Technology,Internet-of-Things Security Solutions,Bangalore,Unicorn India Ventures,Venture-Series Unknown,"500,000"
10,15/08/2020,Practo,HealthTech,Health care and Wellness,Bangalore,A1A Company,Series F,"32,000,000"
11,13/08/2020,Medlife,E-commerce,Online Pharmacy,Bangalore,Prasid Uno Family Trust and SC Credit Fund,,"23,000,000"
12,13/08/2020,HungerBox,FoodTech,Online Food Delivery Service,Bangalore,"One97, Sabre Partners Trust, Pratithi Investme...",Series D1,"1,560,000"
13,04/08/2020,Dunzo,Hyper-local Logistics,Online Delivery Services,Bangalore,Existing Backers,In Progress,"30,000,000"
14,11/08/2020,Terra.do,EduTech,"Online Climate School, E-learning","Stanford, California,","Stanford Angels and Entrepreneurs (India), BEE...",Seed,"1,400,000"
15,12/08/2020,Classplus,EduTech,"E-learning, Online Tutoring",Noida,Falcon Edge,In Progress,"upto 15,000,000"
16,14/08/2020,Niyo,FinTech,Financial Services,Bangalore,Niyo Solutions Inc.,,"6,000,000"
17,10/08/2020,ZestMoney,FinTech,Financial Services,Bangalore,Primrose Hills Ventures,,"10,670,000"
18,07/08/2020,FreshToHome,E-commerce,Food Delivery,Bangalore,Ascent Capital,Venture,"16,200,000"
19,13/08/2020,Eduvanz,FinTech,Financial Services,Mumbai,"Sequoia India, Unitus",Series A,"5,000,000"
20,08/09/2020,Byju’s,EduTech,Online Tutoring,Bangalore,"Silver Lake, Tiger Global, General Atlantic an...",Private Equity,"500,000,000"
21,12/09/2020,mCaffeine,Personal Care,Skincare & Haircare,Mumbai,"Amicus Capital Private Equity I LLP, Amicus Ca...",Series B,"3,000,000"
22,09/09/2020,Qshala,EduTech,Online Curiosity Platform for Kids,Bangalore,Rainmatter Capital,Angel,"370,000"
23,02/09/2020,Winzo,Online Gaming,Online Gaming,New Delhi,"Kalaari Capital Partners, IndigoEdge Managemen...",Series B,"15,500,000"
24,09/09/2020,Hippo Video,Video Customer Experience(CX) Platform,Video Customer Experience(CX) Platform,"Newark, Delaware, United States of Amercia","Alpha Wave Incubation, Exfinity Venture Partne...",Series A,"4,500,000"
25,07/09/2020,Melorra,E-commerce,Online Jewelry Store,Bangalore,"Shadow Holdings, Lightbox.",Debt Financing,"upto 8,900,000"
26,07/09/2020,1mg,E-commerce,Online Pharmacy,Gurgaon,"Gaja Capital, Tata Capital, Partners Group",In Progress,"100,000,000"
27,31/08/2020,mfine,HealthTech,On-Demand Healthcare Services,Bangalore,Caretech Pte Inc,Series B,"5,400,000"
28,31/08/2020,Apna,Human Resources,Recruitment Platform,Bangalore,Lightspeed India and Sequoia Capital India,Series A,"8,000,000"
29,03/09/2020,Railofy,Transportation,WL & RAC protection platform,Mumbai,Chiratae Ventures,Seed,"950,000"

7. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [194]:
#lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [195]:
url="https://www.digit.in/"
driver.get(url)

In [209]:
#making a list
name = []
Price = []
OS = []
display = []
processor = []
HDD = []
RAM = []
weight = []
dimension = []
GPU = []

In [210]:
time.sleep(1)
#scraping names
names=driver.find_elements_by_xpath("//div[@class='right-container']/div/a/h3")
for i in names:
    name.append(i.text)
    
time.sleep(1)
#scraping operating system
os=driver.find_elements_by_xpath("//div[@class='product-detail']/div/ul/li[1]/div/div")
for i in os:
    OS.append(i.text)
    
    
time.sleep(1)
# scraping memory
memories=driver.find_elements_by_xpath("//div[@class='Spcs-details'][1]/table/tbody/tr[6]/td[3]")
for i in memories:
    HDD.append(i.text.split("/")[0])
    RAM.append(i.text.split("/")[1])
    
time.sleep(1)
# scraping weight
weights=driver.find_elements_by_xpath("//div[@class='Spcs-details'][1]/table/tbody/tr[7]/td[3]")
for i in weights:
    weight.append(i.text)
    
time.sleep(1)
# scraping dimension
dimension=[]
dimensions=driver.find_elements_by_xpath("//div[@class='Spcs-details'][1]/table/tbody/tr[8]/td[3]") 
for i in dimensions:
    dimension.append(i.text)
    
time.sleep(1)
# scraping graphical processor
GPUs=driver.find_elements_by_xpath("//div[@class='Spcs-details'][1]/table/tbody/tr[9]/td[3]") 
for i in GPUs:
    GPU.append(i.text)
    
time.sleep(1)
#scraping price
price=driver.find_elements_by_xpath("//table[@id='summtable']//tr//td[3]")
for i in price:
    Price.append(i.text)

In [252]:
time.sleep(1)
#scraping display
displays=driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[4]/td[3]")
for i in displays:
    display.append(i.text)

In [283]:
display

['15.6" (1920 x 1080)',
 '15.6" (1920 x 1080)',
 '15.6" (2560 x 1440)',
 '17.3" (1920 x 1080)',
 '15.6" (3840 x 2160)',
 '15.6" (1920 x 1080)',
 '14" (1920 x 1080)',
 '15.6" (1920 x 1080)',
 '15.6" (3840 x 1100)',
 '15.6" (1920 x 1080)']

In [280]:
time.sleep(1)
#scraping processor
processors=driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[5]/td[3]")
for i in processors:
    processor.append(i.text)

In [289]:
processor

['AMD Ryzen 9 Octa Core | 2.4 GHz',
 'Intel Core i7 11th Gen - 11375H | NA',
 'AMD Ryzen 9 Octa Core - 5900HX | 3.3 GHz',
 '10th Generation Intel® Core™ i7-10700 | 2.90 GHz',
 '10th Generation Intel® Core™ i9-10980HK | NA',
 'AMD Ryzen™ 9 5900HX | 3.3 GHz',
 'AMD 3rd Generation Ryzen 9 | 3.3 GHz',
 '10th Generation Intel® Core™ i5-10300H | 2.50 GHz',
 'Intel Core i7 10th Gen 10875H | NA',
 'AMD Ryzen™ 5-5500U hexa-core | NA']

In [290]:
#make dataFrame
df=pd.DataFrame({"Name":name,"price":Price,"OS":OS,"Display":display,"HDD":HDD,"RAM":RAM,"processor":processor,"weight":weight,"Dimension":dimension,"Graphical processor":GPU})

In [291]:
df

,Name,price,OS,Display,HDD,RAM,processor,weight,Dimension,Graphical processor
0,ACER NITRO 5 RYZEN 9 (2021),"₹ 129,990",WINDOWS 10,"15.6"" (1920 x 1080)",1 TB HDD,16 GBGB DDR4,AMD Ryzen 9 Octa Core | 2.4 GHz,2.4,363.4 x 255 x 23.9,NVIDIA GeForce RTX 3070
1,MSI STEALTH 15M 11TH GEN CORE I7-11375H (2021,"₹ 134,990",WINDOWS 10,"15.6"" (1920 x 1080)",1 TB SSD,16 GBGB DDR4,Intel Core i7 11th Gen - 11375H | NA,1.7,358.3 x 248 x 16.15,NVIDIA GeForce RTX 3060
2,ASUS ROG STRIX SCAR 15 RYZEN 9-5900HX (2021),"₹ 268,990",WINDOWS 10,"15.6"" (2560 x 1440)",2 TB SSD,32 GBGB DDR4,AMD Ryzen 9 Octa Core - 5900HX | 3.3 GHz,2.30,354 x 259 x 22.6,NVIDIA GeForce RTX 3080
3,ALIENWARE AREA 51M R2,"₹ 342,989",WINDOWS 10 HOME,"17.3"" (1920 x 1080)",1 TB SSD,16 GBGB DDR4,10th Generation Intel® Core™ i7-10700 | 2.90 GHz,4.1,27.65 x 402.6 x 319.14,Intel® UHD Graphics 630
4,ALIENWARE M15 R3,"₹ 319,990",WINDOWS 10 HOME,"15.6"" (3840 x 2160)",1 TB SSD,16 GBGB DDR4,10th Generation Intel® Core™ i9-10980HK | NA,NA,NA,NA
5,ASUS ROG STRIX SCAR 15,"₹ 215,990",WINDOWS 10 HOME,"15.6"" (1920 x 1080)",1 TB SSD,16 GBGB DDR4,AMD Ryzen™ 9 5900HX | 3.3 GHz,2.30,35.4 x 25.9 x 2.26,NVIDIA® GeForce RTX™ 3070
6,ASUS ROG ZEPHYRUS G14,"₹ 164,990",WINDOWS 10 HOME,"14"" (1920 x 1080)",1 TB SSD,16 GBGB DDR4,AMD 3rd Generation Ryzen 9 | 3.3 GHz,1.65,32.5 x 22.1 x 1.8,NVIDIA GeForce RTX 2060
7,LENOVO LEGION 5I,"₹ 76,988",WINDOWS 10 PRO,"15.6"" (1920 x 1080)",1 TB SSD,16 GBGB DDR4,10th Generation Intel® Core™ i5-10300H | 2.50 GHz,2.3,363.06 x 259.61 x 23.57,NVIDIA® GeForce® GTX 1650 4GB
8,ASUS ROG ZEPHYRUS DUO 15,"₹ 185,000",WINDOWS 10,"15.6"" (3840 x 1100)",512 GB SSD,4 GBGB DDR4,Intel Core i7 10th Gen 10875H | NA,2.4,268.30 x 360.00 x 20.90,NVIDIA GeForce RTX 2070 Max-Q
9,ACER ASPIRE 7 GAMING,"₹ 62,980",WINDOWS 10 HOME,"15.6"" (1920 x 1080)",512 GB SSD,8 GBGB DDR4,AMD Ryzen™ 5-5500U hexa-core | NA,2.15,2.29 x 36.3 x 25.4,NVIDIA® GeForce® GTX 1650

8. Write a python program to scrape the details for all billionaires from www.forbes.com. 
Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, 
“Industry”.

In [5]:
#lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [6]:
url="https://www.forbes.com/?sh=69e6b8c92254"
driver.get(url)

In [7]:
button = driver.find_element_by_xpath("//button[@class='icon--hamburger']")
button.click()

time.sleep(1)
#select billioners 
billioners = driver.find_element_by_xpath("/html/body/div[1]/header/nav/div[3]/ul/li[1]")
billioners.click()

time.sleep(1)
#select world billioners 
world_billioners=driver.find_element_by_xpath("/html/body/div[1]/header/nav/div[3]/ul/li[1]/div[2]/ul/li[2]/a")
world_billioners.click()
time.sleep(1)

In [65]:
#make empty listes
Rank = [] 
Person_Name = [] 
total_net_worth = [] 
Age = []
country_of_citizenship = [] 
Source = []
industry = []
Net_Worth = []

In [9]:
#scraping rank of billionaire
rank= driver.find_elements_by_xpath("//div[@class='rank']")
for i in rank:
    Rank.append(i.text)
    time.sleep(1)

In [10]:
#scraping name of billionaire
name=driver.find_elements_by_xpath("//div[@class='personName']//div")
for i in name:
    Person_Name.append(i.text)
    time.sleep(1)

In [66]:
 #scraping Age of billionaire    
age= driver.find_elements_by_xpath("//div[@class='age']//div")
for i in age:
    Age.append(i.text) 
time.sleep(1)

In [13]:
#scraping citizenship of billionaire 
citizenship=driver.find_elements_by_xpath("//div[@class='countryOfCitizenship']")
for i in citizenship:
    country_of_citizenship.append(i.text)
    time.sleep(1)

In [14]:
 #scraping source of income
source= driver.find_elements_by_xpath("//div[@class='source']")
 for i in source:
    Source.append(i.text) 
    time.sleep(1)

In [16]:
#scraping industries of billionaire
industries=driver.find_elements_by_xpath("//div[@class='category']//div")
for i in industries:
    industry.append(i.text)

In [17]:
#scraping net_worth of billionaire
net_worth=driver.find_elements_by_xpath("//div[@class='netWorth']//div[1]")
for i in net_worth:
    total_net_worth.append(i.text)
    time.sleep(1)

In [26]:
try:
    next_button =driver.find_element_by_xpath("//button[@class='pagination-btnpagination-btn--next ']")
    next_button.click()
except:
    
    Net_Worth = [] 
    for i in range(0,len(total_net_worth),2):
        Net_Worth.append(total_net_worth[i])
        time.sleep(2)

In [27]:
#creating dataframe
df=pd.DataFrame({'Rank':Rank,'Name':Person_Name,'Net Worth':Net_Worth,'Age':Age,'Country of Citizenship':country_of_citizenship,'Source':Source,'Industry':industry})

In [28]:
df

,Rank,Name,Net Worth,Age,Country of Citizenship,Source,Industry
0,1.,Jeff Bezos,$3.3 B,,Germany,drugstores,
1,2.,Elon Musk,$1.5 B,,China,chemicals,
2,3.,Bernard Arnault & family,$1.4 B,,Norway,investments,
3,4.,Bill Gates,$1.4 B,,Norway,investments,
4,5.,Mark Zuckerberg,$2.4 B,,United States,sensors\n★,
...,...,...,...,...,...,...,...
195,195.,Harry Triguboff,$2.1 B,,China,smartphones,
196,197.,Leonid Fedun & family,$2.1 B,,China,online games,
197,197.,Eyal Ofer,$1.9 B,,France,cloud computing,
198,197.,Evan Spiegel,$1.7 B,,United Kingdom,consumer goods,
199,200.,Luis Carlos Sarmiento,$1.7 B,,Israel,sports betting\n★,

9. Write a program to extract at least 500 Comments, Comment upvote and time when comment 
was posted from any YouTube Video.

In [177]:
#lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [178]:
url="https://www.youtube.com/"
driver.get(url)
time.sleep(2)

In [182]:
#driver find elements by xpath
search_bar = driver.find_element_by_xpath('//input[@class="ytd-searchbox"]')
time.sleep(2)

In [183]:
#driver send keys
search_bar.send_keys("Nadiyon paar") 
time.sleep(1)

In [184]:
#click on search button
search_btn = driver.find_element_by_id("search-icon-legacy") 
search_btn.click()
time.sleep(2)

In [187]:
#driver find elements by xpath
link_click = driver.find_element_by_xpath("//yt-formatted-string[@class ='style-scope ytd-video-renderer']")
link_click.click()
time.sleep(2)

In [188]:
#make empty lists
comments = []
comment_time = []
Time = []
Likes = []
No_of_Likes = []

In [166]:
#scrape comments

cm = driver.find_elements_by_id("content-text")
for i in range(len(cm)):
    comments.append(cm[i].text)

In [191]:
#scrape comments
cm = driver.find_elements_by_id("content-text")
for i in range(len(cm)):
    comments.append(cm[i].text)



# scrape time when comment was posted
tm = driver.find_elements_by_xpath("//a[contains(text(),'ago')]")
for i in tm:
    Time.append(i.text)
for i in range(0,len(Time),2):
    comment_time.append(Time[i])
time.sleep(5)
 
# scrape the comment likes
like = driver.find_elements_by_xpath("//span[@class='style-scope ytd-comment-action-buttons-renderer']")
for i in like:
    Likes.append(i.text)
    
for i in range(1,len(Likes),2):
    No_of_Likes.append(Likes[i])

In [192]:
len(comment_time)

540

In [193]:
df=pd.DataFrame({'Comments':comments,'Time':comment_time,'Likes':No_of_Likes})

In [194]:
df

,Comments,Time,Likes
0,Nadiyon Paar (Let the Music Play Again) is all...,7 months ago,25K
1,❤️from kerala🌴\nമലയാളീസ് ഉണ്ടോ മക്കളേ..😍✌️,5 months ago,11K
2,This song is so addictive!!!! Amazing dance by...,1 month ago (edited),496
3,I can't believe I watched this beautiful song ...,2 months ago,473
4,Literally to lovely friends who's reading this...,3 weeks ago,614
...,...,...,...
535,She did a great job in Roohi. She's worked har...,5 months ago,76
536,ഇത് കാണുന്ന മലയാളി ആരെങ്കിലുമുണ്ടെങ്കിൽ മലയാളം...,1 week ago,1
537,I have love 💛 this song 🎵so much,26 minutes ago,
538,क्या माल है यार 🤤🤤🤤,1 month ago,1
539,في حد مصري بيسمع لاغنية دي عشان محسش اني لوحدي 😂♥,1 week ago,

10. Write a python program to scrape a data for all available Hostels from 
https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, 
distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms 
from price, facilities and property description.

In [214]:
#lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [215]:
url="https://www.hostelworld.com/"
driver.get(url)
time.sleep(2)

In [221]:
#driver find elements by xpath
search_bar = driver.find_element_by_id("location-text-input-field")
time.sleep(2)

In [222]:
#driver send keys
search_bar.send_keys("London") 
time.sleep(1)

In [223]:
london =driver.find_element_by_xpath('//div[@class="label"]')
london.click()
time.sleep(1)

In [224]:
#click on search button
search_btn = driver.find_element_by_xpath('//button[@class="button primary large"]') 
search_btn.click()
time.sleep(2)

In [259]:
# Make empty lists
Hostel_Name = []
Distance = []
overall_review = []
total_reviews = []
facilities = []
price = []
Rating = []
property_description = []

In [268]:
#  scraping Hostel name
names = driver.find_elements_by_xpath('//h2[@class="title title-6"]')
for i in names:
    Hostel_Name.append(i.text)
time.sleep(2)

In [269]:
len(Hostel_Name)

30

In [270]:
# Distance from city centre
dis =driver.find_elements_by_xpath('//span[@class="description"]')
for i in dis:
    Distance.append(i.text)
time.sleep(2)

In [271]:
len(Distance)

30

In [272]:
#scraping Overall Review 
review =driver.find_elements_by_xpath('//div[@class="keyword"]')
for i in review:
    overall_review.append(i.text)
time.sleep(2)

In [273]:
len(overall_review)

32

In [274]:
#scraping Total No of reviews 
t_review =driver.find_elements_by_xpath('//div[@class="reviews"]')
for i in t_review:
    total_reviews.append(i.text)
time.sleep(2)

In [275]:
len(total_reviews)

30

In [276]:
# scraping facilities
service = driver.find_elements_by_xpath('//div[@class="facilities-label facilities"]')
for i in service:
    facilities.append(i.text)
time.sleep(2)

In [277]:
len(facilities)

30

In [252]:
# scraping Prices 
prices = driver.find_elements_by_xpath('//div[@class="price-col"]')
for i in prices:
    price.append(i.text)
time.sleep(2)

try:
    next_button =driver.find_element_by_xpath('//div[@class="pagination-item pagination-next"]')
    next_button.click()
except NoSuchElementException:
    time.sleep(4) 
    
#Separate Privates_From price and Dorms_From price
Privates_From = []
for i in range(0,len(price),2):
    Privates_From.append(price[i])
time.sleep(2)
Dorms_From = []
for i in range(1,len(price),2):
    Dorms_From.append(price[i])

In [253]:
len(Privates_From)

120

In [254]:
len(Dorms_From)

120

In [260]:
# scraping rating
rate = driver.find_elements_by_xpath('//div[@class="score orange big"]')
for i in rate:
    Rating.append(i.text)
time.sleep(2)

In [261]:
len(Rating)

29

In [278]:
hostel_details=pd.DataFrame({})
hostel_details["Hostel_Name"]=Hostel_Name[:29]
hostel_details["Distance"]=Distance[:29]
hostel_details["overall_review"]=overall_review[:29]
hostel_details["total_reviews"]=total_reviews[:29]
hostel_details["facilities"]=facilities[:29]
hostel_details["Privates_From_Price"]=Privates_From[:29]
hostel_details["Dorms_From_price"]=Dorms_From[:29]
hostel_details["Rating "]=Rating
hostel_details

,Hostel_Name,Distance,overall_review,total_reviews,facilities,Privates_From_Price,Dorms_From_price,Rating
0,St Christopher's Inn - Liverpool Street,Hostel - 3.2km from city centre,Superb,359 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs1981,9.7
1,247london Hostel and Private Rooms,Hostel - 8.2km from city centre,Fabulous,443 Total Reviews,Free WiFi,Privates From\nRs5254,No Dorms Available,6.6
2,Astor Hyde Park,Hostel - 4.3km from city centre,Superb,11348 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs1545,8.9
3,St Christopher's Village,Hostel - 1.8km from city centre,Good,10869 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,Privates From\nRs6456,Dorms From\nRs1192,8.4
4,Smart Camden Inn Hostel,Hostel - 4.4km from city centre,Fabulous,2694 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs1248,8.9
5,The Finnish Church in London,Hostel - 4.5km from city centre,Fabulous,194 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs2987,9.5
6,No.8 Seven Sisters,Hostel - 9km from city centre,Fabulous,3637 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs802,6.8
7,The London Home Hostel,Hostel - 8.2km from city centre,Superb,249 Total Reviews,Free WiFi,Privates From\nRs4121,Dorms From\nRs1628,7.7
8,Selina Camden,Hostel - 5.5km from city centre,Good,10 Total Reviews,Free WiFi,Privates From\nRs17373,Dorms From\nRs2956,9.0
9,Safestay London Elephant & Castle,Hostel - 1.7km from city centre,Very Good,3967 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,Privates From\nRs8035,Dorms From\nRs2009,8.0
10,"PubLove @ The White Ferry, Victoria",Hostel - 2.4km from city centre,Superb,161 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,Privates From\nRs21839,Dorms From\nRs1717,8.8
11,Generator London,Hostel - 3km from city centre,Fabulous,6755 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,Privates From\nRs9581,Dorms From\nRs2163,7.5
12,Venture Hostel,Hostel - 6.9km from city centre,Fabulous,1170 Total Reviews,Free WiFi,Privates From\nRs5605,Dorms From\nRs1493,9.3
13,Astor Museum Inn,Hostel - 2.2km from city centre,Very Good,8747 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs1751,6.9
14,Saint James Backpackers,Hostel - 5.5km from city centre,Rating,1764 Total Reviews,Free WiFi\nFree Breakfast\nFollows Covid-19 sa...,Privates From\nRs7290,Dorms From\nRs2349,6.9
15,New Cross Inn Hostel,Hostel - 6.1km from city centre,Superb,1022 Total Reviews,Free WiFi\nFree Breakfast,Privates From\nRs3318,Dorms From\nRs1233,6.8
16,London Waterloo Hostel,Hostel - 0.7km from city centre,Good,2425 Total Reviews,Free WiFi\nFree Breakfast\nFollows Covid-19 sa...,No Privates Available,Dorms From\nRs1462,6.7
17,Smart Russell Square Hostel,Hostel - 2.6km from city centre,Good,9522 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs1386,8.4
18,No.8 Willesden Hostel London,Hostel - 10km from city centre,Good,4589 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs905,10
19,Prime Backpackers Angel,Hostel - 3.6km from city centre,Good,515 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,Privates From\nRs7734,Dorms From\nRs2437,7.5
20,PubLove @ The Rose & Crown,Hostel - 1.6km from city centre,Fabulous,101 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs2026,8.9
21,St Christopher's Inn - London Bridge,Hostel - 1.8km from city centre,Superb,3239 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs1501,7.6
22,St Christopher's Camden,Hostel - 4.3km from city centre,Very Good,3712 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs1157,8.2
23,St Christopher's Shepherds Bush,Hostel - 7km from city centre,Fabulous,631 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs1226,7.5
24,Astor Kensington,Hostel - 4.9km from city centre,Very Good,6334 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs1442,8.1
25,Phoenix Hostel,Hostel - 4.2km from city centre,Fabulous,3441 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs1135,9.6
26,Mornington Camden,Hostel - 4.1km from city centre,Very Good,42 Total Reviews,Free WiFi,No Privates Available,Dorms From\nRs3230,6.7
27,"PubLove @ The Green Man, Paddington",Hostel - 4.3km from city centre,Fabulous,395 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,No Privates Available,Dorms From\nRs1786,9.3
28,Burlington Residence,Hostel - 7.1km from city centre,Superb,31 Total Reviews,Free WiFi\nFree Breakfast\nFollows Covid-19 sa...,No Privates Available,Dorms From\nRs2308,8.7