# WEB SCRAPING – ASSIGNMENT 4

1. Scrape the details of most viewed videos on YouTube from Wikipedia:

# You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
#lets now import all required libraries
import selenium
import pandas as pd
import time
from selenium import webdriver

In [2]:
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
#Importing requests
import requests
# importing regex
import re
import csv

In [307]:
#lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [308]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
driver.get(url)

In [309]:
search_btn=driver.find_element_by_xpath('//a[@class="external text"]')
search_btn.click()

In [311]:
search_btn=driver.find_element_by_xpath('//div[@class="mw-search-result-heading"]')
search_btn.click()

In [312]:
#making a empty list
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
View=[]

In [61]:
titles = driver.find_elements_by_class_name('headerSort')

In [62]:
for t in titles:
    print(t.text)

No.
Video name
Uploader
Views (billions)
Upload date
Video name
Uploader
Views*
Upload date
Date achieved
Days held

In [86]:
df = pd.DataFrame(columns=[t.text for t in titles])
df.head()

Empty DataFrame
Columns: [No., Video name, Uploader, Views (billions), Upload date]
Index: []

In [257]:
table = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/th')

In [ ]:
for idx,s in enumerate(table):
    print('row {}:'.format(idx))
    print('{}'.format(s.text))

In [258]:
col0 = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')

In [259]:
col1 = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')

In [260]:
col2 = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')

In [261]:
col3 = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')

In [262]:
col4 = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')

In [263]:
df[df.columns[0]] = [s.text for s in col0]
df[df.columns[1]] = [s.text for s in col1]
df[df.columns[2]] = [s.text for s in col2]
df[df.columns[3]] = [s.text for s in col3]
df[df.columns[4]] = [s.text for s in col4]

In [264]:
df.head()

,No.,Video name,Uploader,Views (billions),Upload date
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,9.46,"June 17, 2016"
1,2.,"""Despacito""[25]",Luis Fonsi,7.57,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.78,"October 8, 2016"
3,4.,"""Shape of You""[27]",Ed Sheeran,5.48,"January 30, 2017"
4,5.,"""See You Again""[28]",Wiz Khalifa,5.29,"April 6, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv.

You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [60]:
#lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [61]:
url ="https://www.bcci.tv/."
driver.get(url)

In [77]:
search_btn=driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]')
search_btn.click()

In [78]:
search_btn=driver.find_element_by_xpath('//a[@class="footer-navigation__link"]')
search_btn.click()

In [139]:
#making a empty list
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [176]:

#scraping match title
match_t=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in match_t:
    Match_title.append(i.text)

In [177]:
len(Match_title)

20

In [178]:

#scraping series
series=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    Series.append(i.text)

In [179]:
len(Series)

20

In [180]:
#scrape place
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in range(len(place)):
    Place.append(place[i].text.replace("\n",''))

In [181]:
len(Place)

20

In [182]:
#scrape Date
date = driver.find_elements_by_xpath("//div[@class='fixture__full-date']")
for i in range(len(date)):
    Date.append(date[i].text.replace("\n",''))

In [183]:
len(Date)

20

In [184]:
#scrape time
time = driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]")
for i in range(len(time)):
    Time.append(time[i].text.replace("\n",''))

In [185]:
len(Time)

20

In [186]:
match_details=pd.DataFrame({})
match_details["Match_title"]=Match_title
match_details["Series"]=Series
match_details["Place"]=Place
match_details["Date"]=Date
match_details["Time"]=Time
match_details

,Match_title,Series,Place,Date,Time
0,Match 16,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",24OCTOBER19:30 IST,19:30 IST
1,Match 28,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",31OCTOBER19:30 IST,19:30 IST
2,Match 33,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi",03NOVEMBER19:30 IST,19:30 IST
3,Match 37,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",05NOVEMBER19:30 IST,19:30 IST
4,Match 42,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",08NOVEMBER19:30 IST,19:30 IST
5,1st T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",17NOVEMBER19:00 IST,19:00 IST
6,2nd T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",19NOVEMBER19:00 IST,19:00 IST
7,3rd T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",21NOVEMBER19:00 IST,19:00 IST
8,1st Test,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",25NOVEMBER09:30 IST,09:30 IST
9,2nd Test,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",03DECEMBER09:30 IST,09:30 IST
10,1st Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",17DECEMBER13:30 IST,13:30 IST
11,2nd Test,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion",26DECEMBER13:30 IST,13:30 IST
12,3rd Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",03JANUARY13:30 IST,13:30 IST
13,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",11JANUARY14:00 IST,14:00 IST
14,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",14JANUARY14:00 IST,14:00 IST
15,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",16JANUARY14:00 IST,14:00 IST
16,1st T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",19JANUARY19:30 IST,19:30 IST
17,2nd T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",21JANUARY19:30 IST,19:30 IST
18,3rd T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",23JANUARY19:30 IST,19:30 IST
19,4th T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",26JANUARY19:30 IST,19:30 IST

3. Scrape the details of selenium exception from guru99.com.

You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [314]:
 #lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [315]:
url ="https://www.guru99.com/"
driver.get(url)

In [317]:
#find the serch bar elements by id
search_bar = driver.find_element_by_id("gsc-i-id1")

In [318]:
search_bar.clear()

In [319]:
#write on search bar
search_bar.send_keys("selenium exception handling")

In [320]:
search_btn=driver.find_element_by_xpath('//button[@class="gsc-search-button gsc-search-button-v2"]')
search_btn.click()

In [321]:
search_btn=driver.find_element_by_xpath('//a[@class="gs-title"]')
search_btn.click()

In [54]:
from bs4 import BeautifulSoup
import pandas as pd

In [323]:
driver.get('https://www.guru99.com/exception-handling-selenium.html')
driver.implicitly_wait(5)

In [340]:
soup = BeautifulSoup(driver.page_source, 'lxml')

In [341]:
tables = soup.find_all('table')

# Step 3: Read tables with Pandas read_html()
dfs = pd.read_html(str(tables))

print(f'Total tables: {len(dfs)}')
print(dfs[0])

Total tables: 1
                         Exception name  \
0            ElementNotVisibleException
1         ElementNotSelectableException
2                NoSuchElementException
3                  NoSuchFrameException
4               NoAlertPresentException
5                 NoSuchWindowException
6        StaleElementReferenceException
7              SessionNotFoundException
8                      TimeoutException
9                    WebDriverException
10            ConnectionClosedException
11     ElementClickInterceptedException
12      ElementNotInteractableException
13             ErrorInResponseException
14  ErrorHandler.UnknownServerException
15         ImeActivationFailedException
16             ImeNotAvailableException
17         InsecureCertificateException
18             InvalidArgumentException
19         InvalidCookieDomainException
20          InvalidCoordinatesException
21          InvalidElementStateExceptio
22            InvalidSessionIdException
23       InvalidSwitchToTargetException
24                  JavascriptException
25                        JsonException
26             NoSuchAttributeException
27       MoveTargetOutOfBoundsException
28               NoSuchContextException
29                NoSuchCookieException
30                    NotFoundException
31          RemoteDriverServerException
32                  ScreenshotException
33           SessionNotCreatedException
34           UnableToSetCookieException
35           UnexpectedTagNameException
36              UnhandledAlertException
37      UnexpectedAlertPresentException
38               UnknownMethodException
39          UnreachableBrowserException
40          UnsupportedCommandException

                                          Description
0   This type of Selenium exception occurs when an...
1   This Selenium exception occurs when an element...
2   This Exception occurs if an element could not ...
3   This Exception occurs if the frame target to b...
4   This Exception occurs when you switch to no pr...
5   This Exception occurs if the window target to ...
6   This Selenium exception occurs happens when th...
7   The WebDriver is acting after you quit the bro...
8   Thrown when there is not enough time for a com...
9   This Exception takes place when the WebDriver ...
10  This type of Exception takes place when there ...
11  The command may not be completed as the elemen...
12  This Selenium exception is thrown when any ele...
13  This happens while interacting with the Firefo...
14  Exception is used as a placeholder in case if ...
15  This expectation will occur when IME engine ac...
16    It takes place when IME support is unavailable.
17  Navigation made the user agent to hit a certif...
18  It occurs when an argument does not belong to ...
19  This happens when you try to add a cookie unde...
20  This type of Exception matches an interacting ...
21  It occurs when command can’t be finished when ...
22  This Exception took place when the given sessi...
23  This occurs when the frame or window target to...
24  This issue occurs while executing JavaScript g...
25  It occurs when you afford to get the session w...
26  This kind of Exception occurs when the attribu...
27  It takes place if the target provided to the A...
28           ContextAware does mobile device testing.
29  This Exception occurs when no cookie matching ...
30  This Exception is a subclass of WebDriverExcep...
31  This Selenium exception is thrown when the ser...
32            It is not possible to capture a screen.
33  It happens when a new session could not be suc...
34  This occurs if a driver is unable to set a coo...
35  Happens if a support class did not get a web e...
36  This expectation occurs when there is an alert...
37  It occurs when there is the appearance of an u...
38  This Exception happens when the requested comm...
39  This Exception occurs only when the browser is...
40  This occurs when remote WebDriver does n’t sen...

In [343]:
df=pd.DataFrame(dfs[0])
df.head()

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...

In [31]:
driver.close()

4. Scrape the details of State-wise GDP of India from statisticstime.com

You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [348]:
 #lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [349]:
url = "http://statisticstimes.com/"
driver.get(url)

In [395]:
search_btn=driver.find_element_by_xpath('//div[@class="dropdown"][2]')
search_btn.click()

In [413]:
search_btn=driver.find_element_by_xpath('//a[@class="ec"]')
search_btn.click()

In [3]:
from bs4 import BeautifulSoup
import pandas as pd

In [415]:
driver.get('https://statisticstimes.com/economy/india/indian-states-gdp.php')
driver.implicitly_wait(5)

In [418]:
soup = BeautifulSoup(driver.page_source, 'lxml')

In [420]:
tables = soup.find_all('table')

# Step 3: Read tables with Pandas read_html()
dfs = pd.read_html(str(tables))

print(f'Total tables: {len(dfs)}')
print(dfs[1])

Total tables: 3
    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2632792
1    2.0                 Tamil Nadu                         1845853   1630208
2    3.0              Uttar Pradesh                         1687818   1584764
3    4.0                    Gujarat                               -   1502899
4    5.0                  Karnataka                         1631977   1493127
5    6.0                West Bengal                         1253832   1089898
6    7.0                  Rajasthan                         1020989    942586
7    8.0             Andhra Pradesh                          972782    862957
8    9.0                  Telangana                          969604    861031
9   10.0             Madhya Pradesh                          906672    809592
10  11.0                     Kerala                               -    781653
11  12.0                      Delhi                          856112    774870
12  13.0                    Haryana                          831610    734163
13  14.0                      Bihar                          611804    530363
14  15.0                     Punjab                          574760    526376
15  16.0                     Odisha                          521275    487805
16  17.0                      Assam                               -    315881
17  18.0               Chhattisgarh                          329180    304063
18  19.0                  Jharkhand                          328598    297204
19  20.0                Uttarakhand                               -    245895
20  21.0            Jammu & Kashmir                               -    155956
21  22.0           Himachal Pradesh                          165472    153845
22  23.0                        Goa                           80449     73170
23  24.0                    Tripura                           55984     49845
24  25.0                 Chandigarh                               -     42114
25  26.0                 Puducherry                           38253     34433
26  27.0                  Meghalaya                           36572     33481
27  28.0                     Sikkim                           32496     28723
28  29.0                    Manipur                           31790     27870
29  30.0                   Nagaland                               -     27283
30  31.0          Arunachal Pradesh                               -     24603
31  32.0                    Mizoram                           26503     22287
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        20351013  18886957

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20     18-19
0   13.94%        399.921                               -   2039074
1    8.63%        247.629                         1312929   1215307
2    8.39%        240.726                         1166817   1123982
3    7.96%        228.290                               -   1186379
4    7.91%        226.806                         1156039   1091077
5    5.77%        165.556                          793223    739525
6    4.99%        143.179                          711627    677428
7    4.57%        131.083                          672018    621301
8    4.56%        130.791                          663258    612828
9    4.29%        122.977                          561801    522009
10   4.14%        118.733                               -    559412
11   4.10%        117.703                          634408    590569
12   3.89%        111.519                          572240    531085
13   2.81%         80.562                          414977    375651
14   2.79%         79.957                          418868    397669
15   2.58%         74.098                          396499    376877
16   1.67%         47.982                               -    234048
17   1.61%         46.187                          243477    231182
18   1.57%         45.145                          240036    224986
19   1.30%         37.351                               -    193273
20   0.83%         23.690                               -    112755
21   0.81%         23.369                          124403    117851
22   0.39%         11.115                           63408     57787
23   0.26%          7.571                           40583     36963
24   0.22%          6.397                               -     31192
25   0.18%          5.230                           25093     23013
26   0.18%          5.086                           26695     24682
27   0.15%          4.363                           20017     18722
28   0.15%          4.233                           20673     19300
29   0.14%          4.144                               -     17647
30   0.13%          3.737                               -     16676
31   0.12%          3.385                           18797     16478
32       -              -                               -         -
33     NaN           2869                        14569268  14003316

In [421]:
df=pd.DataFrame(dfs[1])
df.head()

  Rank          State GSDP (Cr INR at Current prices)            Share  \
  Rank          State                           19-20    18-19   18-19
0  1.0    Maharashtra                               -  2632792  13.94%
1  2.0     Tamil Nadu                         1845853  1630208   8.63%
2  3.0  Uttar Pradesh                         1687818  1584764   8.39%
3  4.0        Gujarat                               -  1502899   7.96%
4  5.0      Karnataka                         1631977  1493127   7.91%

  GDP ($billion) GSDP (Cr INR at 2011-12 prices)
            2019                           19-20    18-19
0        399.921                               -  2039074
1        247.629                         1312929  1215307
2        240.726                         1166817  1123982
3        228.290                               -  1186379
4        226.806                         1156039  1091077

In [422]:
print(dfs[2])

    Rank                      State NSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2332992
1    2.0                 Tamil Nadu                         1659210   1465361
2    3.0              Uttar Pradesh                         1495758   1404761
3    4.0                  Karnataka                         1476983   1351553
4    5.0                    Gujarat                               -   1322936
5    6.0                West Bengal                         1150711    995502
6    7.0                  Rajasthan                          916014    845247
7    8.0                  Telangana                          881873    782370
8    9.0             Andhra Pradesh                          875429    776140
9   10.0             Madhya Pradesh                          827019    737156
10  11.0                     Kerala                               -    707542
11  12.0                      Delhi                          779647    704529
12  13.0                    Haryana                          755790    666075
13  14.0                      Bihar                          562710    486776
14  15.0                     Punjab                          517521    472506
15  16.0                     Odisha                          457757    428031
16  17.0                      Assam                               -    282782
17  18.0                  Jharkhand                          301242    271990
18  19.0               Chhattisgarh                          288041    266537
19  20.0                Uttarakhand                               -    221871
20  21.0           Himachal Pradesh                          143063    133303
21  22.0            Jammu & Kashmir                               -    129877
22  23.0                        Goa                           72181     66060
23  24.0                    Tripura                           50227     44835
24  25.0                 Chandigarh                               -     37571
25  26.0                 Puducherry                           34823     31415
26  27.0                  Meghalaya                           32833     29544
27  28.0                    Manipur                           29148     25323
28  29.0                     Sikkim                           28391     25141
29  30.0                   Nagaland                               -     24534
30  31.0          Arunachal Pradesh                               -     22488
31  32.0                    Mizoram                           24424     20947
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        17994301  16704645

     Share NSDP (Cr INR at 2011-12 prices)
     18-19                           19-20     18-19
0   13.97%                               -   1794123
1    8.77%                         1167776   1079894
2    8.41%                         1015735    979159
3    8.09%                         1035131    976948
4    7.92%                               -   1036859
5    5.96%                          713376    662432
6    5.06%                          630693    600433
7    4.68%                          594806    549481
8    4.65%                          595605    550584
9    4.41%                          496798    461903
10   4.24%                               -    513322
11   4.22%                          568265    529739
12   3.99%                          514983    477834
13   2.91%                          377276    340512
14   2.83%                          374015    354830
15   2.56%                          344437    327805
16   1.69%                               -    207193
17   1.63%                          218232    204423
18   1.60%                          210837    200453
19   1.33%                               -    173211
20   0.80%                          107171    101534
21   0.78%                               -     91666
22   0.40%                           56810     51878
23   0.27%                           35980     32830
24   0.22%                               -     27565
25   0.19%                           22291     20534
26   0.18%                           23564     21779
27   0.15%                           18549     17228
28   0.15%                           17060     15972
29   0.15%                               -     15381
30   0.13%                               -     15013
31   0.13%                           17797     15372
32       -                               -         -
33     NaN                        12681246  12240380

In [423]:
df=pd.DataFrame(dfs[2])
df.head()

  Rank          State NSDP (Cr INR at Current prices)            Share  \
  Rank          State                           19-20    18-19   18-19
0  1.0    Maharashtra                               -  2332992  13.97%
1  2.0     Tamil Nadu                         1659210  1465361   8.77%
2  3.0  Uttar Pradesh                         1495758  1404761   8.41%
3  4.0      Karnataka                         1476983  1351553   8.09%
4  5.0        Gujarat                               -  1322936   7.92%

  NSDP (Cr INR at 2011-12 prices)
                            19-20    18-19
0                               -  1794123
1                         1167776  1079894
2                         1015735   979159
3                         1035131   976948
4                               -  1036859

5. Scrape the details of trending repositories on Github.com.

You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [426]:
 #lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [428]:
url = "https://github.com/"
driver.get(url)

In [435]:
search_btn=driver.find_element_by_xpath('//button[@class="js-details-target btn-link d-lg-none mt-1"]')
search_btn.click()

In [439]:
search_btn=driver.find_element_by_xpath('//details[@class="HeaderMenu-details details-overlay details-reset width-full"]')
search_btn.click()

In [475]:
try:
    
    search_btn=driver.find_element_by_xpath('//li[@class="edge-item-fix"][3]').get_attribute("href")
    search_btn.click()
except:
     NoSuchElementException

In [503]:
#making a empty list
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [510]:
#scrape repository title
title = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
for i in range(len(title)):
    Repository_title.append(title[i].text)

In [511]:
len(Repository_title)

25

In [512]:
#scrape repository description 
description = driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')
for i in range(len(description)):
    Repository_description.append(description[i].text)

In [513]:
len(Repository_description)

25

In [504]:
#scrape repository title
contributors = driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"][2]')
for i in range(len(contributors)):
    Contributors_count.append(contributors[i].text)

In [505]:
len(Contributors_count)

25

In [507]:
#scrape repository title
language = driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]')
for i in range(len(language)):
    Language_used.append(language[i].text)

In [508]:
len(Language_used)

25

In [514]:
Repository_details=pd.DataFrame({})
Repository_details["Repository_title"]=Repository_title
Repository_details["Repository_description"]=Repository_description
Repository_details["Contributors_count"]=Contributors_count
Repository_details["Language_used"]=Language_used
Repository_details.head()

,Repository_title,Repository_description,Contributors_count,Language_used
0,Chakazul / Lenia,Lenia - Mathematical Life Forms,155,Python
1,microsoft / Swin-Transformer,"This is an official implementation for ""Swin T...",667,Python
2,3b1b / videos,Code for the manim-generated scenes used in 3b...,174,Python
3,xinntao / Real-ESRGAN,Real-ESRGAN aims at developing Practical Algor...,451,Python
4,facebookresearch / detectron2,Detectron2 is FAIR's next-generation platform ...,"4,888",Python

6. Scrape the details of top 100 songs on billboard.com.

You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [4]:
 #lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [5]:
url = "https://www.billboard.com/"
driver.get(url)

In [12]:
search_btn=driver.find_element_by_id("toggle-menu-action")
search_btn.click()

In [13]:
search_btn=driver.find_element_by_xpath('//a[@class="header__main-link header__main-link--charts"]')
search_btn.click()

In [17]:
search_btn=driver.find_element_by_xpath('//a[@class="header__submenu__list__link"]')
search_btn.click()

In [29]:
#make empty list
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [37]:
#scrape song name
name= driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in range(len(name)):
    Song_name.append(name[i].text)

In [38]:
len(Song_name)

100

In [39]:
#scrape Artist name
name= driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in range(len(name)):
     Artist_name.append(name[i].text)

In [40]:
len(Artist_name)

100

In [30]:
#scrape last week rank
rank= driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in range(len(rank)):
    Last_week_rank.append(rank[i].text)

In [32]:
len(Last_week_rank)

100

In [33]:
#scrape weeks_on_board
weeks= driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in range(len(weeks)):
    Weeks_on_board.append(weeks[i].text)

In [35]:
 len(Weeks_on_board)

100

In [41]:
top_100_songs=pd.DataFrame({})
top_100_songs["Song_name"]=Song_name
top_100_songs["Artist_name"]=Artist_name
top_100_songs["Last_week_rank"]=Last_week_rank
top_100_songs["Weeks_on_board"]=Weeks_on_board
top_100_songs.head()

,Song_name,Artist_name,Last_week_rank,Weeks_on_board
0,Industry Baby,Lil Nas X & Jack Harlow,2,12
1,Stay,The Kid LAROI & Justin Bieber,1,14
2,Fancy Like,Walker Hayes,3,17
3,Bad Habits,Ed Sheeran,5,16
4,Way 2 Sexy,Drake Featuring Future & Young Thug,4,6

7. Scrape the details of Data science recruiters from naukri.com

You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [3]:
 #lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [4]:
url = "https://www.naukri.com/"
driver.get(url)

In [8]:
search_btn=driver.find_element_by_xpath('//ul[@class="midSec menu"]/li[2]')
search_btn.click()

In [9]:
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')

In [10]:
#write on search bar
search_job.send_keys("Data science")

In [11]:
try:
    search_btn=driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
    search_btn.click()
except:
    NoSuchElementException

In [108]:
#make empty list
Name=[]
Designation=[]
Company=[]
Skills_they_hire_for=[]
Location=[]

In [52]:
page=requests.get("https://www.naukri.com/data-science-recruiters")
page

In [55]:
soup=BeautifulSoup(page.content,"lxml")

In [58]:
title=soup.find_all("span",class_="fl ellipsis")

In [121]:
#scrape recruiter name
for i in range(0,len(title)):
    Name.append(title[i].get_text().replace("\n"," "))
len(Name)

50

In [122]:
d= soup.find_all("span",class_="ellipsis clr")

In [123]:
#scrape recruiter Designation  
for i in range(len(d)): 
    Designation.append(d[i].get_text().replace("\n"," "))
len(Designation)

50

In [109]:
c= soup.find_all("a",class_="ellipsis")

In [110]:
#scrape recruiter company  
for i in range(1,len(c),2): 
    Company.append(c[i].get_text().replace("\n"," "))
len(Company)

50

In [112]:
s= soup.find_all("div",class_="hireSec highlightable")

In [113]:
#scrape recruiter Skills_they_hire_for   
for i in range(len(s)): 
    Skills_they_hire_for.append(s[i].get_text().replace("\n"," "))
len(Skills_they_hire_for)

50

In [115]:
l= soup.find_all("small",class_="ellipsis")

In [116]:
#scrape recruiter Location  
for i in range(len(l)): 
    Location.append(l[i].get_text().replace("\n"," "))
len(Location)

48

In [ ]:
#make empty list
Name=[]
Designation=[]
Company=[]
Skills_they_hire_for=[]
Location=[]

In [124]:
recruiters_details=pd.DataFrame({})
recruiters_details["Name"]=Name[0:48]
recruiters_details["Designation"]=Designation[0:48]
recruiters_details["Company"]=Company[0:48]
recruiters_details["Skills_they_hire_for"]=Skills_they_hire_for[0:48]
recruiters_details["Location"]=Location[0:48]
recruiters_details.head()

,Name,Designation,Company,Skills_they_hire_for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketin...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Admi...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, ...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, m...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Dat...",UK - (london)

 8. Scrape the details of Highest selling novels.

You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [125]:
 #lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [126]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

In [127]:
soup = BeautifulSoup(driver.page_source, 'lxml')

In [128]:
tables = soup.find_all('table')

# Step 3: Read tables with Pandas read_html()
dfs = pd.read_html(str(tables))

print(f'Total tables: {len(dfs)}')
print(dfs[0])

Total tables: 1
                          Rank  \
0                            1
1                            2
2                            3
3                            4
4                            5
..                         ...
96                          97
97                          98
98                          99
99                         100
100  SOURCE: NIELSEN BOOK SCAN

                                                 Title  \
0                                    Da Vinci Code,The
1                 Harry Potter and the Deathly Hallows
2             Harry Potter and the Philosopher's Stone
3            Harry Potter and the Order of the Phoenix
4                                 Fifty Shades of Grey
..                                                 ...
96                      Happy Days with the Naked Chef
97               Hunger Games,The:Hunger Games Trilogy
98   Lost Boy,The:A Foster Child's Search for the L...
99   Jamie's Ministry of Food:Anyone Can Learn to C...
100                          SOURCE: NIELSEN BOOK SCAN

                        Author               Volume Sales  \
0                   Brown, Dan                    5094805
1                Rowling, J.K.                    4475152
2                Rowling, J.K.                    4200654
3                Rowling, J.K.                    4179479
4                 James, E. L.                    3758936
..                         ...                        ...
96               Oliver, Jamie                     794201
97            Collins, Suzanne                     792187
98                Pelzer, Dave                     791507
99               Oliver, Jamie                     791095
100  SOURCE: NIELSEN BOOK SCAN  SOURCE: NIELSEN BOOK SCAN

                     Publisher                        Genre
0                   Transworld  Crime, Thriller & Adventure
1                   Bloomsbury           Children's Fiction
2                   Bloomsbury           Children's Fiction
3                   Bloomsbury           Children's Fiction
4                 Random House              Romance & Sagas
..                         ...                          ...
96                     Penguin        Food & Drink: General
97             Scholastic Ltd.          Young Adult Fiction
98                       Orion           Biography: General
99                     Penguin        Food & Drink: General
100  SOURCE: NIELSEN BOOK SCAN    SOURCE: NIELSEN BOOK SCAN

[101 rows x 6 columns]

In [129]:
df=pd.DataFrame(dfs[0])
df.head()

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas

9. Scrape the details most watched tv series of all time from imdb.com.

You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [130]:
 #lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [131]:
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [149]:
#make empty list
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [157]:
#scrape series name
name= driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in range(len(name)):
     Name.append(name[i].text)

In [158]:
len(Name)

100

In [159]:
#scrape series Year_span
year= driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in range(len(year)):
     Year_span.append(year[i].text)

In [160]:
len(Year_span)

100

In [161]:
#scrape series Genre
g= driver.find_elements_by_xpath('//span[@class="genre"]')
for i in range(len(g)):
     Genre.append(g[i].text)

In [162]:
len(Genre)

100

In [163]:
#scrape series Run_time
r= driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in range(len(r)):
     Run_time.append(r[i].text)

In [164]:
len(Run_time)

100

In [150]:
#scrape series Ratings
rate= driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
for i in range(len(rate)):
     Ratings.append(rate[i].text)

In [152]:
len(Ratings)

100

In [153]:
#scrape series Votes
v= driver.find_elements_by_name("nv")
for i in range(len(v)):
     Votes.append(v[i].text)

In [155]:
len(Votes)

100

In [165]:
imdb_series=pd.DataFrame({})
imdb_series["Name"]=Name
imdb_series["Year_span"]=Year_span
imdb_series["Genre"]=Genre
imdb_series["Run_time"]=Run_time
imdb_series["Ratings"]=Ratings
imdb_series["Votes"]=Votes
imdb_series.head()

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,886,884"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"919,681"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"906,882"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"271,480"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,826"

10. Details of Datasets from UCI machine learning repositories.

You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [168]:
 #lets first connect to the web driver
driver=webdriver.Edge("msedgedriver.exe")

In [169]:
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [174]:
search_btn=driver.find_element_by_xpath('//span[@class="whitetext"]/a/font')
search_btn.click()

In [191]:
driver.get("https://archive.ics.uci.edu/ml/datasets.php")
driver.implicitly_wait(5)

In [192]:
soup = BeautifulSoup(driver.page_source, 'lxml')

In [204]:
tables = soup.find_all('table', border='1',cellpadding="5")

# Step 3: Read tables with Pandas read_html()
dfs = pd.read_html(str(tables))

print(f'Total tables: {len(dfs)}')
print(dfs[0])

Total tables: 589
                                 0                             1  \
0                             Name                    Data Types
1                          Abalone                  Multivariate
2                              NaN                       Abalone
3                            Adult                  Multivariate
4                              NaN                         Adult
...                            ...                           ...
1172                           NaN     Wikipedia Math Essentials
1173     Wikipedia Math Essentials                   Time-Series
1174                           NaN     Wikipedia Math Essentials
1175  Synchronous Machine Data Set                  Multivariate
1176                           NaN  Synchronous Machine Data Set

                   2                           3            4             5  \
0       Default Task             Attribute Types  # Instances  # Attributes
1     Classification  Categorical, Integer, Real         4177             8
2                NaN                         NaN          NaN           NaN
3     Classification        Categorical, Integer        48842            14
4                NaN                         NaN          NaN           NaN
...              ...                         ...          ...           ...
1172             NaN                         NaN          NaN           NaN
1173      Regression                        Real          731          1068
1174             NaN                         NaN          NaN           NaN
1175      Regression                        Real          557             5
1176             NaN                         NaN          NaN           NaN

         6
0     Year
1     1995
2      NaN
3     1996
4      NaN
...    ...
1172   NaN
1173  2021
1174   NaN
1175  2021
1176   NaN

[1177 rows x 7 columns]

In [205]:
df=pd.DataFrame(dfs[0])
df.head()

,0,1,2,3,4,5,6
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,NaN,Abalone,NaN,NaN,NaN,NaN,NaN
3,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
4,NaN,Adult,NaN,NaN,NaN,NaN,NaN

# 😊The End😊